@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #09090A;
  color: #e4e4e7; /* zinc-200 */
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #09090A; 
}

::-webkit-scrollbar-thumb {
  background: #27272a; /* zinc-800 */
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46; /* zinc-700 */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #27272a #09090A;
}